{% extends "base.html" %}
{% load static %}

{% block content %}
    <button style="display: block; margin: 15px auto 50px auto">
        <a href="{% url 'user-profile-settings' %}">Account Settings</a>
    </button>
    <button style="display: block; margin: 15px auto 50px auto">
        <a href="{% url 'all-products' %}">Shipping Address</a>
    </button>
    <button style="display: block; margin: 15px auto 50px auto">
        <a href="{% url 'all-products' %}">Payment Methods</a>
    </button>
    <button style="display: block; margin: 15px auto 50px auto">
        <a href="{% url 'all-products' %}">Order History</a>
    </button>

    <title>User Settings</title>
    <h1>User Settings</h1>

    <body id="user_settings">
   		<div class="container">
  			<form action="">

                <label for="username">Username:</label>
    			<input type="text" id="username" name="username" placeholder="Your username..">

    			<label for="fname">First Name:</label>
    			<input type="text" id="fname" name="firstname" placeholder="Your first name..">

    			<label for="lname">Last Name:</label>
    			<input type="text" id="lname" name="lastname" placeholder="Your last name..">

				<label for="email">Email Address:</label>
				<input type="text" id="email" name="useremail" placeholder="Your email..">

    			<input type="submit" value="Submit">

  			</form>
		</div>

        <h1>Password Settings</h1>

       		<div class="container">
  			<form action="">

    			<label for="password">Current Password:</label>
    			<input type="text" id="password" name="currentpassword" placeholder="Current password..">

    			<label for="newpassword">New Password:</label>
    			<input type="text" id="newpassword" name="newpassword" placeholder="New password..">

				<label for="newpasswordconfirm">Confirm New Password:</label>
				<input type="text" id="newpasswordconfirm" name="newpasswordconfirm" placeholder="Re-type new password..">

    			<input type="submit" value="Submit">

  			</form>
		</div>

    </body>

{% endblock content %}